In [ ]:
import pandas as pd

# Музеи и галереи
museum_list = pd.read_csv('data-19-structure-4.csv')

In [27]:
museum_list.groupby('Местоположение')['Название'].count().sort_values(ascending=False).head(10)

Местоположение
Москва             402
Санкт-Петербург    327
Казань              59
Омск                57
Екатеринбург        57
Новосибирск         55
Иркутск             46
Нижний Новгород     44
Тула                40
Ульяновск           39
Name: Название, dtype: int64

In [75]:
museum_list_v2 = pd.read_csv('data-2021-structure-2.csv')

museum_list_v2 = museum_list_v2.drop(museum_list_v2.index[0])

# с кириллическими названиями отказался работать
rename_dict = {museum_list_v2.columns[3] : "count", museum_list_v2.columns[0] : "area"}
museum_list_v2 = museum_list_v2.rename(columns=rename_dict)

museum_list_v2[['count','area']].sort_values(by='count', ascending=False).head(10)

    count                                 area
1     442        Центральный федеральный округ
49    421        Приволжский федеральный округ
71    238          Сибирский федеральный округ
20    194    Северо-Западный федеральный округ
32    187              Южный федеральный округ
82    185    Дальневосточный федеральный округ
64    147          Уральский федеральный округ
11     75                      Московская обл.
19     74                             г.Москва
41     68  Северо-Кавказский федеральный округ